<script type="text/javascript">
(function(){
	var ul=$("#navs"),li=$("#navs li"),i=li.length,n=i/1.25,r= 110;
	ul.click(function(){
		$(this).toggleClass('active');
		if($(this).hasClass('active')){
			for(var a=0;a<i;a++){
				li.eq(a).css({
					'transition-delay':""+(50*a)+"ms",
					'-webkit-transition-delay':""+(50*a)+"ms",
					'left':(r*Math.cos(180/n*a*(Math.PI/180))),
					'top':(-r*Math.sin(180/n*a*(Math.PI/180)))	
				});
			}
		}else{
			li.removeAttr('style');
		}
	});
})($);
</script>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <a href="#/page1"><img class="back-button" src="img/home.png"  width="26" /></a>
            </div>
            <div class="col-xs-8">
                <div class="head">TIMESEY</div>
            </div>
            <div class="col-xs-1">
                  <a href="#/page2"><img class="plus-button" src="img/plus-white.png"  width="26" /></a>
            </div>
            
        </div>
    </div>
</nav>

<div  ng-controller="timeDisplayController" ng-style="UserImage">
	<div class="CountdownTitle"> 
		<h2>{{strin}}</h2>
	</div>
	<div id="countdown1" class="CountDownTimer" ng-click="changeView()" ng-show="myDefault">
        LOADING.....
	</div>
    <div id="countdown" class="CountDownTimer" ng-click="changeView()" ng-show="view2">
        LOADING.....
	</div>
<!--
	<div><a class="button-style" href="#/page2">back</a></div>
	<div><a class="button-style"    href="#/page1">home</a></div>
-->


<!-- we found this online http://www.jqueryscript.net/menu/Animated-Arc-Popup-Menu-with-jQuery-CSS3-Transitions.html  starts here-->
	<ul id="navs" data-open="less" data-close="more">

		<li ng-show="show[0]">
			<a href="#/page3" ng-click="ChangeIndex(0)">{{strName[0]}}</a>
		</li>

		<li ng-show="show[1]">
			<a href="#/page3" ng-click="ChangeIndex(1)">{{strName[1]}}</a>
		</li>


		<li ng-show="show[2]">
			<a href="#/page3" ng-click="ChangeIndex(2)">{{strName[2]}}</a>
		</li>


		<li ng-show="show[3]">
			<a href="#/page3" ng-click="ChangeIndex(3)">{{strName[3]}}</a>
		</li>

		<li ng-show="show[4]">
			<a href="#/page3" ng-click="ChangeIndex(4)">{{strName[4]}}</a>
		</li>

	</ul>
</div>



<!-- online source end here -->

